<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keywords</key>
		<array>
			<integer>7</integer>
			<integer>49</integer>
			<integer>73</integer>
		</array>
		<key>latitude</key>
		<real>35.028926389413598</real>
		<key>longitude</key>
		<real>135.77167368925763</real>
		<key>title</key>
		<string>4</string>
	</dict>
	<dict>
		<key>keywords</key>
		<array>
			<integer>58</integer>
			<integer>30</integer>
			<integer>72</integer>
		</array>
		<key>latitude</key>
		<real>34.994046044834022</real>
		<key>longitude</key>
		<real>135.77632328644688</real>
		<key>title</key>
		<string>3</string>
	</dict>
	<dict>
		<key>keywords</key>
		<array>
			<integer>44</integer>
			<integer>78</integer>
			<integer>23</integer>
		</array>
		<key>latitude</key>
		<real>35.021435360337108</real>
		<key>longitude</key>
		<real>135.76299717867408</real>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>keywords</key>
		<array>
			<integer>9</integer>
			<integer>40</integer>
			<integer>65</integer>
		</array>
		<key>latitude</key>
		<real>34.991113396175514</real>
		<key>longitude</key>
		<real>135.75920618529011</real>
		<key>title</key>
		<string>2</string>
	</dict>
	<dict>
		<key>keywords</key>
		<array>
			<integer>92</integer>
			<integer>42</integer>
			<integer>87</integer>
		</array>
		<key>latitude</key>
		<real>35.038258991952354</real>
		<key>longitude</key>
		<real>135.77311382997993</real>
		<key>title</key>
		<string>5</string>
	</dict>
	<dict>
		<key>keywords</key>
		<array>
			<integer>3</integer>
			<integer>27</integer>
			<integer>29</integer>
		</array>
		<key>latitude</key>
		<real>35.013661750239088</real>
		<key>longitude</key>
		<real>135.74904290647828</real>
		<key>title</key>
		<string>1</string>
	</dict>
</array>
</plist>
